<main class="content" id="content">
    <% for (let index = 0; index < classrooms.length; index++) {%>
        <%- include("./_class", { classroom: classrooms[index] }); %>
    <% } %>
    <button class="join-class-info" id="show-join-class-btn">
        <i class="fa-solid fa-plus"></i>
    </button>
</main>