<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="430954870897-nqat6i8u9fbhsl4kdctnni162isherhh.apps.googleusercontent.com">
	<link rel="stylesheet" type="text/css" href="/resources/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/resources/styles/dashboard-style.css" />
	<script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>