<div class="signInBox" id="signInBox">
    <div id="signInTitle" >Please Sign in</div>
    <div>
        <p>To access the website you are required to sign in with Google.</p>
        <!-- Google sign in button -->
        <button id="loginButton">
            <div id="googleIcon"></div>
            <div id="signInOutText">Login</div>
        </button>
    </div>
</div>

<script src="/resources/scripts/home.js"></script>