<div class="student-info">
    <div class="info-item">
        <div class="info-item-title">Tokens</div>
        <div class="info-item-value" id="student-tokens">0</div>
    </div>
    <div class="info-item">
        <div class="info-item-title">Likes</div>
        <div class="info-item-value" id="student-likes">0</div>
    </div>
</div>