body {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/resources/img/notes.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    --nav-bg-color: rgba(23, 23, 26, 0.5);
}

.welcome-text {
	position: flex;
	width: 50%;
	text-align: center;
}

.welcome-text h1 {
    font-family: var(--font-title);
	text-align: center;
	color: #00FECB;
	text-transform: uppercase;
	font-size: 60px;
}

.welcome-text h1 span {
	color: #FFF;
}

.welcome-text a {
    font-family: var(--font-primary);
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
    transition: color 150ms, background-color 150ms;
}

.welcome-text a:hover {
	background: #fff;
	color: #333;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        var(--url);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section h1 {
    font-size: 4rem;
    color: #FFF;
    font-family: var(--font-primary);
}

section p {
    font-family: var(--font-secondary);
    color: #FFF;
    font-size: 1.5rem;
    padding: 0px 5rem;
}

section a {
    font-weight: bold;
    color: #FFF;
}

section.home {
    margin-top: calc(-1 * var(--nav-height));
}

section.info {
    --url: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900');
}

section.teachers {
    --url: url('https://i.postimg.cc/j5FnSS7c/Screenshot-2022-01-20-9-37-57-AM.png');
}

section.students {
    --url: url('https://i.postimg.cc/c441bSt4/Screenshot-2022-01-20-9-41-28-AM.png');
}

.showcase {
    margin-top: 20px;
    width: 50%;
}