<div class="are-you-sure-model">
    <div class="title">Are you sure?</div>
    <div class="body">
        This will permanently delete this classroom! This can't be undone.
    </div>
    <div class="actions">
        <button class="no action" id="delete-class-no"><i class="fa-solid fa-xmark"></i></button>
        <button class="yes action" id="delete-class-yes"><i class="fa-solid fa-check"></i></button>
    </div>
</div>