<div class="no-students" id="no-student-text" style="display: block;">
    There are no students in your classroom!
</div>
<table class="student-table" id="student-table" style="display: none">
    <thead>
        <tr>
            <th class="student-name-title">Student Name</th>
            <th class="student-tokens-title">Student Tokens</th>
            <th class="student-likes-title">Student Likes</th>
            <th class="student-remove-title">Remove</th>
        </tr>
    </thead>
    <tbody id="student-table-body"></tbody>
</table>
<button class="remove-all-students" id="remove-all-students-button" style="display: none;">Remove All</button>