
    <%- include("../../_api", { apiDomain: apiDomain }) %>
    <script src="/resources/js/yt-player.js"></script>
    <script src="/resources/js/song-search.js"></script>
    <script src="/resources/js/playback.js"></script>
    <script src="/resources/js/overlay.js"></script>
    <script src="/resources/js/overlay-model.js"></script>
    <script src="/resources/js/overlays.js"></script>
    <script src="/resources/js/common-class.js"></script>
    <script src="/resources/js/teacher-class.js"></script>
</body>
</html>