    <script src="/resources/js/classes-resizer.js"></script>
    <script src="/resources/js/overlay.js"></script>
    <script src="/resources/js/overlay-model.js"></script>
    <script src="/resources/js/overlays.js"></script>
    <script src="/resources/js/teacher-classes.js"></script>
    <%- include("../../_api", { apiDomain: apiDomain }) %>
</body>
</html>