<div class="playlist-container">
    <div class="playlist-title">Playlist <button class="refresh" onclick="refreshPlaylist()"><i class="fa-solid fa-arrows-rotate"></i></button></div>
    <div class="playlist-body" id="playlist-container">
        <div id="playlist-container-empty">
            <%- defaultMessage %>
        </div>
    </div>
</div>