<div class="search-result" data-song-id="" data-song-source="">
    <div class="song-image">
        <!--<i class="fa-solid fa-image"></i>-->
        <i></i>
        <img/>
    </div>
    <div class="song-title"></div>
    <div class="song-actions">
        <button class="song-link">
            <a target="new"><i class="fa-solid fa-up-right-from-square"></i></a>
        </button>
        <button class="add-song">
            <i class="fa-solid fa-circle-plus"></i>
        </button>
    </div>
</div>