<main class="content" id="content">
    <section class="home">
        <div class="welcome-text">
            <h1><span>NNHS</span> Music Server</h1>
            <a href="/account/login">Login</a>
        </div>
    </section>
    <section class="info">
        <h1>Info</h1>
        <p>
            The NNHS Music Server was built with <a href="https://www.typescriptlang.org/">TypeScript</a>, <a href="https://ejs.co/">EJS</a>, <a href="https://www.mongodb.com/">MongoDB</a>, and <a href="https://expressjs.com/">Express</a> to provide both teachers and students a seamless music-sharing experience. 
        </p>
    </section>
    <section class="teachers">
        <h1>Teachers</h1>
        <p>
            Teachers can manage classrooms, which are individual rooms that allow for a unique set of songs for each class a teacher manages.
        </p>
        <p>
            <div class="showcase teacher-features">
                <div class="card-display">
                    <div class="card" data-visible>
                        <img src="/resources/img/showcase/teacher/playback.png" draggable="false"/>
                        <span>Basic playback features: playing/pausing, skipping songs, volume control</span>
                    </div>
                    <div class="card">
                        <img src="/resources/img/showcase/teacher/shuffle.png" draggable="false"/>
                        <span>Shuffle the playlist</span>
                    </div>
                    <div class="card">
                        <img src="/resources/img/showcase/teacher/song-details.png" draggable="false"/>
                        <span>See which student submitted a song</span>
                    </div>
                    <div class="card">
                        <img src="/resources/img/showcase/teacher/manage-student.png" draggable="false"/>
                        <span>Manage students in a class</span>
                    </div>
                    <div class="card">
                        <img src="/resources/img/showcase/teacher/disable-submissions.png" draggable="false"/>
                        <span>Disable song submissions</span>
                    </div>
                    <div class="card">
                        <img src="/resources/img/showcase/teacher/classes.png" draggable="false"/>
                        <span>Manage multiple classes</span>
                    </div>
                </div>
                <div class="button-container"></div>
            </div>
        </p>
    </section>
    <section class="students">
        <h1>Students</h1>
        <p>
            Students can join classrooms via a class code, where you can submit songs, see whats currently playing, and more.
        </p>
    </section>
</main>